<%- include('./partials/header.ejs'); %>    
    <section class="text-gray-600 body-font">
      <div class="container px-5 py-20 mx-auto">
        <div class="flex flex-wrap lg:w-4/5 sm:mx-auto sm:mb-2 -mx-2">
          <div class="p-2 sm:w-2/3 mx-auto w-full">
              <div class="flex flex-wrap -mx-3 mb-6">
                <div class="w-full flex flex-wrap justify-start px-3">
                  <a href="/dashboard" class="text-center text-white bg-violet-600 border-0 py-2 px-8 focus:outline-none hover:bg-violet-700 rounded text-lg">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M10 19l-7-7m0 0l7-7m-7 7h18" />
                    </svg>
                  </a>
                  <button onclick="savePage()" class="text-white ml-3 bg-violet-600 border-0 py-2 px-8 focus:outline-none hover:bg-violet-700 rounded text-lg">Save</button>
                </div>
              </div>
            </div>
            <div class="p-2 sm:w-2/3 mx-auto w-full">
              <div class="flex flex-wrap -mx-3 mb-6">
                <div class="w-full px-3">
                  <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="title">
                    Title
                  </label>
                  <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="title" value="<%= data.title %>">
                </div>
              </div>
            </div>
        </div>
      </div>
    </section>
    <script>
      const pageID = window.location.pathname.split("/").pop()
      const data = {}

      const saveSuccess = Toastify({
        text: "Update Success!",
        duration: 2000,
        gravity: "bottom"
      });

      let titleElem = document.getElementById("title")
      
      async function savePage(){
        data.title = titleElem.value
        data.content = {}
        const res = await fetch(`/page/${pageID}`, {
          method: 'POST',
          headers: { 'Content-Type': 'application/json' },
          body: JSON.stringify(data)
        });
        const status = res.status
        if (status === 200) saveSuccess.showToast()
      }
    </script>
  </body>
</html>